
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="form_bg">
<h2 class="text-center">Register</h2>
<form [formGroup]="registerForm" (submit)="onSubmit()" enctype="multipart/form-data">
  <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" formControlName="firstname" class="form-control" id="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.firstname.errors.required">First Name is required</div>
      </div>
  </div>
  <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" formControlName="lastname" class="form-control" id="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.lastname.errors.required">Last Name is required</div>
      </div>
  </div>
  <div class="form-group">
      <label for="img">Image Upload</label>
      <input type="file" formControlName="image"  class=""  (change)="onSelectFile($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
      <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
          <div *ngIf="f.image.errors.required">Image is required</div>
      </div>
      <div *ngIf='url'>
      <img [src]='url' height="50px"  width="50px">
     </div>
  </div>
  <div class="form-group">
      <label for="username">E-mail</label>
      <input type="text" formControlName="username" class="form-control" id="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">E-mail is required</div>
          <div *ngIf="f.username.errors.pattern"> Please enter valid E-mail </div>
      </div>
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.pattern"> Please enter valid password</div>
      </div>
  </div>
  <div class="form-group"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button [disabled]="loading" class="btn btn-primary">Register</button>&nbsp;&nbsp;&nbsp;
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
  </div>
</form>
</div>
</div>  
</div>
</body>